.text-gray {
  color: #888;
}

.mb-big {
  height: 360px;
  overflow: scroll;
  .col-12:last-child div:last-child {
    border-bottom: none !important;
  }
}
.shade {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .75);
  z-index: 20;
}
