.right-img-box {
  .btn[disabled] {
    opacity: .35;
  }

  .btn-primary {
    border-color: #F9733E !important;
    border-radius: 20rem;
    background-color: #F9733E !important;
  }

  .btn-primary:hover {
    border-color: #F9733E !important;
    background-color: #F9733E !important;
  }

}
