.top-img {
  margin-bottom: -.8rem;
}

.big-box {
  .img-list {
    display: block;
    width: 88%;
    z-index: 100;
    margin: -.8rem 6% 0;
  }
  p {
    bottom: -1.1rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .81rem;
    color: #ffff00;
  }
}

